# Telco Churn Customer Analysis

In [8]:
import pandas as pd

## 1. Load the dataset and perform an initial review of its contents

In [9]:
base_data = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv') #Source Data

Look at the top 10 records of data

In [10]:
base_data.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

#### 1.1 Check the attributes of data

In [11]:
print(base_data.shape)
print(base_data.dtypes)

(7043, 21)
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

#### 1.2 The description numeric variables in the dataset, which are SeniorCitizen, tenure and MonthlyCharges

In [12]:
base_data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

- **Senior Citizen**: The proportion of senior citizens is relatively low (16.2%), meaning most customers are non-senior.
- **Tenure**: Median tenure is 29 months, suggesting a significant portion of customers stay with the company around 2.5 years.
- **Monthly Charges**: Average Monthly charges are USD 64.76 whereas more than 50% customers pay more than this amount

#### 1.3 Churn Ratio

In [13]:
Churn_Percentage = 100*base_data['Churn'].value_counts()/len(base_data['Churn'])
Churn_Percentage = pd.DataFrame(Churn_Percentage).rename(columns={'count': 'Percentage'})
Churn_Percentage

       Percentage
Churn
No      73.463013
Yes     26.536987

In [14]:
Churn_Count = base_data['Churn'].value_counts()
pd.DataFrame(Churn_Count)

       count
Churn
No      5174
Yes     1869

## 2. Data Cleaning

#### 2.1 At the first step, we will have to create a copy of base_data for data manupulation

In [15]:
cleaning_data = base_data.copy()

#### 2.2 From the dataset, the Total Charges column should be numeric amount -> convert it to numerical data type

In [16]:
cleaning_data.TotalCharges = pd.to_numeric(cleaning_data.TotalCharges, errors='coerce')
cleaning_data.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

#### 2.3 As the result shows, there are 11 missing values in TotalCharges column, next step is to check and handle these missing values

In [17]:
TotalCharge_missing_value = cleaning_data.loc[cleaning_data ['TotalCharges'].isnull() == True]
TotalCharge_missing_value

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [18]:
# Total rows in the dataset
total_rows = base_data.shape[0]
total_rows

7043

In [19]:
# Number of missing values in the column 'TotalCharges'
missing_values = cleaning_data['TotalCharges'].isnull().sum()
missing_values

11

In [20]:
missing_values_percentage = (missing_values / total_rows) * 100

print(f"Percentage of missing values in 'TotalCharges': {missing_values_percentage:.2f}%")

Percentage of missing values in 'TotalCharges': 0.16%

Since the % of these records compared to total dataset is very low, around 0.16%, it is safe to ignore them from further processing.

In [21]:
cleaning_data.dropna(how = 'any', inplace = True)

In [22]:
cleaning_data.to_csv('Telco Customer Churn Analysis.csv', index=False)